<aside class="col-12 col-md-3 rounded border border-secondary p-4">
    <img src="../images/1.jpg" alt="profile-pic" class="img-thumbnail rounded-circle m-auto d-block bg-secondary">
    <h4 class="text-center font-weight-bold">Walter S S</h4>
    <div class="d-flex justify-content-center py-3" style="gap: 15px;">
        <a href="https://github.com/walteralleyz" target="_blank">
            <img src="../images/github.png" alt="github" style="width: 30px; height: 30px;">
        </a>
        <a href="https://linkedin.com/in/walteralleyz" target="_blank">
            <img src="../images/linkedin.png" alt="github" style="width: 30px; height: 30px;">
        </a>
    </div>
    <p class="text-justify">
        Trabalhei entre abril e outubro em uma empresa de tecnologia, desenvolvimento uma plataforma web para soluções financeiras. Tive a oportunidade de usar tecnologias como GraphQL e Laravel realizando integrações com a API do Pipefy. Atuei em um freelancer que me possibilitou aprofundar o conhecimento em React e Node.
        <br />
        Estou constantemente estudando tecnologias, bons padrões de código e arquitetura.
    </p>
</aside>