<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="<%= image %>" >
    <meta property="og:title" content="<%= title %>" >
    <meta property="og:description" content="<%= description %>" >
    <meta property="og:type" content="article" >
    <meta property="og:site_name" content="Walter Blog" >
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
        a {
            text-decoration: none;
            color: #333;
            transition: 0.3s;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
    <title><%= page_title %></title>
</head>