<header>
    <div class="jumbotron jumbotron-fluid p-4">
        <div class="container">
            <h1 class="display-4 font-weight-bold pointer" style="border-radius: 0;">
                <mark class="bg-danger text-light" onclick="goHome()">Walter Blog</mark>
                <a id="goto" class="bg-info text-light pointer float-right" style="font-size: 1rem;"></a>
            </h1>
            <p class="lead font-italic">Um blog sobre desenvolvimento e tecnologia</p>
        </div>
    </div>
</header>